/* Original styles */
.important-dates-container {
  display: flex;
  align-items: flex-start;
  margin: 30px 0;
  margin-top: -370px;
  margin-left: -140px;
}

.important-dates-table {
  width: 400px;
  background-color: #5369f8;
  padding: 10px;
  color: white;
  border-radius: 8px;
  margin-left: 20px;
}

.important-dates-table span {
  color: white;
  font-size: 15px;
}

.important-dates-table h3 {
  font-size: 24px;
  color: #000f38;
  margin-bottom: 20px;
  text-align: center;
}

.important-dates-table table {
  width: 100%;
  border-collapse: collapse;
}

.important-dates-table th,
.important-dates-table td {
  border: 2px solid #002855;
  padding: 12px;
  text-align: left;
  font-size: 15px;
}

.important-dates-table th {
  background-color: #002855;
  color: white;
}

.important-dates-table tr:nth-child(even) {
  background-color: #002855;
}

/* Hover color for odd rows */
.important-dates-table tr:nth-child(odd):hover {
  background-color: green;
}

.important-dates-table tr:nth-child(even):hover {
  background-color: green; 
}

/* Styles for max-width 1000px */
@media (max-width: 1200px) {
  .important-dates-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
  }

  .important-dates-table {
    margin-left: 0;
  }
}

/* Styles for max-width 600px */
