.hero {
  width: 100%;
  min-height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  animation: slide 15s infinite;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes slide {
  0% {
    background: linear-gradient(rgba(8, 0, 58, 0.7), rgba(8, 0, 58, 0.4)),
      url("../../assets/Rectangle-1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  33% {
    background: linear-gradient(rgba(8, 0, 58, 0.7), rgba(8, 0, 58, 0.4)),
      url("../../assets/sl2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  66% {
    background: linear-gradient(rgba(8, 0, 58, 0.7), rgba(8, 0, 58, 0.4)),
      url("../../assets/about.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  100% {
    background: linear-gradient(rgba(8, 0, 58, 0.7), rgba(8, 0, 58, 0.4)),
      url("../../assets/gallery-1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

.hero .hero-text {
  text-align: center;
  margin-top: 80px;
  max-width: 80%;
}

.hero .hero-text h1 {
  font-size: 40px;
  font-weight: 600;
}

.hero .hero-text h2 {
  font-size: 35px;
  color: yellow;
  margin: 10px auto 20px;
}

.hero .hero-text p {
  max-width: 700px;
  margin: 10px auto 20px;
  line-height: 1.4;
}

.register-btn{
  background: #FFF;
  color: #212121;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.register-btn img{
  width: 20px;
  margin-left: 10px;
}

@media (max-width: 1200px) {
  .hero {
    min-height: 60vh; /* Adjust height for smaller screens */
  }
}

@media (max-width: 1000px) {
  .hero {
    min-height: 55vh; /* Adjust height for even smaller screens */
  }

  .hero .hero-text h1 {
    font-size: 25px;
    max-width: 400px;
    margin: auto;
  }

  .hero .hero-text h2 {
    font-size: 22px;
    color: yellow;
    margin: 10px auto 20px;
  }

  .hero-text p {
    font-size: 14px;
    margin: 15px auto 30px;
  }
}
