.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-color:rgba(255, 255, 255, 0.8); /* Optional: translucent background */
  }
  
  .loading-gif {
    width: 200px; /* Adjust the size as needed */
    height: 200px;
  }
  